<!DOCTYPE html>
<html>
<head>
  <title>MiBlogSpace</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="bodyinfo">

<table style="background-color:#1C1C1C;padding:8px;">
  <tr style="color:white;">
    <td><%= link_to( image_tag( "HomeMenuOption.png"), "home_blogs#index" ) %></td>
    <td><%= image_tag("PythonMenuOption.png") %></td>
    <td><%= image_tag("LinuxMenuOption.png") %></td>
    <td><%= image_tag("ProjectsMenuOption.png") %></td>
    <td><%= image_tag("AboutMenuOption.png") %></td>
  </tr>
</table>

<%= yield %>

</body>
</html>
